*
{
	margin:0px;
	padding: 0px;
}

.logo
{
    font-size: 30;
    position: relative
    left 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
    margin-left: 20px;

}
.logo:hover
{
	font-size: 40;
}

.header
{
	background-color: skyblue;
	line-height: 70px;
	padding-left: 30px;
	font-size: 20px;
	z-index: 1;

}

nav 
{
 
    position: fixed;
    background-color: orange;
    height: 70px;
    width: 100%;
    z-index: 1;
}


a
{
	text-decoration:none;
}

.logout
{
	float: right;
	padding-right: 30px;


}

a button
{
	background: #8e1a0b;
    color: white;
    border-radius:50px;
    padding:6px;
    border-width:2px;
    cursor: pointer;
}
button:hover{
  background: rgba(223, 70, 15, 0.856);
  cursor: pointer;
}

ul 
{
	background-color: orange;
	width: 14%;
	height: 100%;
	position: fixed;
	padding-top: 10%;
	text-align: center;
	
}
ul li
{
	list-style: none;
	padding-bottom: 30px;
	font-size: 17px;
}
ul li a
{
	color: white;
	font-weight: bold;
	display: block;
	margin: 0 auto;

}
ul li a:hover
{
	color: red;
	text-decoration: none;
	background-color: white;
	padding: 5px;
	transition: transform .2s
}



.content
{
	margin-left: 20%;
	margin-top: 0%;
	padding-bottom: 100px;
	font-size: 17px;

}

input
{
Width:300px;
height:30px;
}

select
{
font-size: 14px;
Width:300px;
height:30px;
}


.login_button
{
    background-color: #8e1a0b;
    color: white;
    border-radius:50px;
    padding:6px;
    border-width:2px;
    width: 300px;
}
.login_button:hover{
  background: rgba(223, 70, 15, 0.856);
  cursor: pointer;
}
table
{
	overflow: auto;
}
table tr th 
{
	padding: 20px;
	font-size:20px ;
	background-color: skyblue;

}

table tr td 
{
	padding: 20px;


}

input
{
	font-size: 13px;
	
}

table thead tr th 
{
	
}

#tax_month
{
	width: 300px;
	height: 30px;
	
}

label
{
	font-weight: bold;
}

.title_design
{
    background-color: skyblue;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;

}
.checkbox{
Width:15px;
height:15px;

}
.label_design
{
    display:inline-block;
    color:white;
    width: 130px;
    text-align: left;
    padding-top:20px;
    padding-bottom: 20px;
}







.main-card{
  display: flex;
  margin-top: 20px;
}
.main-card .card{
  width: 25%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-card .card h3{
  margin: 10px;
  text-transform: capitalize;
}
.main-card .card p{
  font-size: 17px;
}
.main-card .card button{
  background: #8e1a0b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-card .card button:hover{
  background: rgba(223, 70, 15, 0.856);
}
.main-card .card i{
  font-size: 22px;
  padding: 10px;
}